

/*generic*/
$theme: generic;
$ccl-color-main:#a0b128; 
$ccl-color-title:#273b4b; 
$ccl-color-text:#212529; 
$ccl-color-text_light:#ADB0B8; 
$ccl-color-link_hover:#7c8921; 
$ccl-color-link:#acbe39; 