@import "mixins";

@import "colors/theme-generic";

@import "templates/blocks";
@import "templates/footer";
@import "templates/header";
@import "templates/lang";
@import "templates/banner";
@import "templates/list-items";
@import "templates/use-cases";
@import "templates/slider";
