/*THEME generic*/
.ccl-block-title {
  font-size: 1.4rem !important;
  border-bottom: 1px solid;
  padding-bottom: 1.1111111111rem;
  margin-bottom: 2.2222222222rem; }

.ccl-block.ccl-block-services {
  display: flex; }

@media (max-width: 900px) {
  .ccl-block.ccl-block-services {
    display: flex;
    flex-wrap: wrap; }
    .ccl-block.ccl-block-services .ccl-service-button-container {
      width: 33%; } }
@media (max-width: 570px) {
  .ccl-block.ccl-block-services {
    display: flex;
    flex-wrap: wrap; }
    .ccl-block.ccl-block-services .ccl-service-button-container {
      width: 50%; } }
.ccl-footer {
  color: #fff;
  padding: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; }
  .ccl-footer * {
    color: #fff !important; }
  .ccl-footer .ccl-footer-logo {
    width: 100%;
    text-align: center;
    margin-bottom: 5.5555555556rem; }
    .ccl-footer .ccl-footer-logo .ccl-footer-logo-img {
      width: 18.3333333333rem; }
  .ccl-footer .ccl-footer-col {
    width: 28%; }
    @media (max-width: 900px) {
      .ccl-footer .ccl-footer-col {
        width: 100%;
        margin-bottom: 3rem; } }
    .ccl-footer .ccl-footer-col .ccl-footer-col-title {
      font-size: 1.3rem;
      border-bottom: 1px solid #dadada;
      padding-bottom: 1.5rem; }
    .ccl-footer .ccl-footer-col .ccl-footer-body-title {
      text-transform: uppercase;
      letter-spacing: 0.05rem; }
    .ccl-footer .ccl-footer-col .ccl-footer-services {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 1rem; }
      .ccl-footer .ccl-footer-col .ccl-footer-services .ccl-service-button {
        width: 22%;
        text-decoration: none;
        font-size: 0.7rem;
        margin: 0 5%;
        padding: 0 0 2rem 0; }
        .ccl-footer .ccl-footer-col .ccl-footer-services .ccl-service-button:hover {
          background-color: transparent !important;
          color: #dadada !important; }
          .ccl-footer .ccl-footer-col .ccl-footer-services .ccl-service-button:hover .ccl-service-button-icon path {
            fill: #dadada !important; }
    .ccl-footer .ccl-footer-col .ccl-footer-form {
      margin: 1rem 0;
      display: flex; }
      .ccl-footer .ccl-footer-col .ccl-footer-form input {
        display: block;
        background-color: transparent;
        border: 1px solid #fff;
        line-height: 1rem;
        padding: 0.2rem 0.5rem;
        color: #fff;
        font-family: 'Lato';
        font-size: 1rem;
        width: 100%; }
        .ccl-footer .ccl-footer-col .ccl-footer-form input:focus {
          outline-offset: none;
          outline: none; }
      .ccl-footer .ccl-footer-col .ccl-footer-form button {
        display: block;
        background-color: #fff;
        border: 1px solid #fff; }
    .ccl-footer .ccl-footer-col .ccl-footer-social {
      text-align: center;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      margin-top: 1rem; }
      .ccl-footer .ccl-footer-col .ccl-footer-social a {
        text-decoration: none;
        font-size: 1.5rem;
        display: block;
        -webkit-transition: all .2s ease-in-out;
        transition: all .2s ease-in-out; }
        .ccl-footer .ccl-footer-col .ccl-footer-social a:hover span {
          color: #dadada !important; }

.ccl-header .ccl-header-tools {
  height: 2.2222222222rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between; }
  @media (max-width: 1200px) {
    .ccl-header .ccl-header-tools {
      justify-content: flex-end; } }
  .ccl-header .ccl-header-tools .ccl-header-slogan {
    color: #fff;
    font-weight: 400;
    font-size: 0.8rem;
    line-height: 2.2222222222rem;
    margin-left: 3.3333333333rem; }
    @media (max-width: 1400px) {
      .ccl-header .ccl-header-tools .ccl-header-slogan {
        margin-left: 1.1111111111rem; } }
    @media (max-width: 1200px) {
      .ccl-header .ccl-header-tools .ccl-header-slogan {
        display: none; } }
  .ccl-header .ccl-header-tools .ccl-header-tools-container {
    display: flex;
    height: 2.2222222222rem;
    margin-right: 10%; }
    @media (max-width: 1400px) {
      .ccl-header .ccl-header-tools .ccl-header-tools-container {
        margin-right: 1.1111111111rem; } }
  .ccl-header .ccl-header-tools .ccl-header-lang-switcher .ccl-language-list {
    list-style: none;
    display: none; }
  .ccl-header .ccl-header-tools .ccl-header-lang-switcher .ccl-language-active {
    color: #fff;
    font-size: 0.8888888889rem;
    line-height: 2.2222222222rem; }
  .ccl-header .ccl-header-tools .ccl-header-search {
    margin: 0.3888888889rem 1rem;
    display: flex; }
    .ccl-header .ccl-header-tools .ccl-header-search input {
      display: block;
      background-color: #fff;
      border: 0px;
      line-height: 1rem;
      padding: 0.2rem 0.5rem;
      font-family: 'Lato';
      font-size: 0.8888888889rem;
      font-style: italic;
      width: 100%; }
      .ccl-header .ccl-header-tools .ccl-header-search input:focus {
        outline-offset: none;
        outline: none; }
    .ccl-header .ccl-header-tools .ccl-header-search button {
      display: block;
      color: #fff;
      border: 0px; }
  .ccl-header .ccl-header-tools .ccl-header-menu-tools {
    list-style: none;
    display: flex;
    justify-content: space-around;
    line-height: 2.2222222222rem;
    font-size: 0.8888888889rem;
    padding: 0;
    margin: 0; }
    .ccl-header .ccl-header-tools .ccl-header-menu-tools li {
      margin: 0 1rem; }
      @media (max-width: 1400px) {
        .ccl-header .ccl-header-tools .ccl-header-menu-tools li {
          margin: 0 0.5rem; } }
      .ccl-header .ccl-header-tools .ccl-header-menu-tools li a {
        text-decoration: none;
        color: #fff;
        padding-bottom: 1px; }
        .ccl-header .ccl-header-tools .ccl-header-menu-tools li a:hover {
          border-bottom: 1px solid #fff; }
.ccl-header .ccl-header-nav {
  margin: 0 10%;
  height: 4.8888888889rem;
  display: flex;
  justify-content: space-between; }
  @media (max-width: 1400px) {
    .ccl-header .ccl-header-nav {
      margin: 0 1.1111111111rem; } }
  .ccl-header .ccl-header-nav .ccl-header-logo {
    width: 10.5555555556rem; }
  .ccl-header .ccl-header-nav .ccl-header-main-menu {
    list-style: none;
    display: flex;
    justify-content: space-around;
    line-height: 4.8888888889rem;
    font-size: 1rem;
    padding: 0;
    margin: 0; }
    .ccl-header .ccl-header-nav .ccl-header-main-menu li {
      margin: 0 1rem; }
      @media (max-width: 1400px) {
        .ccl-header .ccl-header-nav .ccl-header-main-menu li {
          margin: 0 0.5rem; } }
      .ccl-header .ccl-header-nav .ccl-header-main-menu li a {
        text-decoration: none;
        color: #fff;
        padding-bottom: 1px; }
        .ccl-header .ccl-header-nav .ccl-header-main-menu li a:hover {
          border-bottom: 1px solid #fff; }
      .ccl-header .ccl-header-nav .ccl-header-main-menu li:last-child {
        margin-right: 0; }

/*# sourceMappingURL=template.css.map */
