$collapse-menu-width:820px;
.ccl-color_#{$theme}{

	/*backgrounds*/

	.ccl-bg-grey {
		background-color: #{$ccl-color-main}0f;
	}


	.ccl-main_bgcolor {
		background-color: $ccl-color-main;
	}

	.ccl-title_bgcolor {
		background-color: $ccl-color-title;
	}

	.ccl-text_bgcolor {
		background-color: $ccl-color-text;
	}

	.ccl-text_light_bgcolor {
		background-color: $ccl-color-text_light;
	}

	.ccl-link_hover_bgcolor {
		background-color: $ccl-color-link_hover;
	}

	.ccl-link_bgcolor {
		background-color: $ccl-color-link;
	}

	.ccl-main_color {
		color: $ccl-color-main;
	}

	/*elements*/
	.ccl-title_color,
	h1,
	h2,
	h3,
	h4,
	h5,
	h6,
	.ccl-title_headline,
	.ccl-title,
	.ccl-body_title {
		color: $ccl-color-title;
	}

	.ccl-text_color,
	p,
	.ccl-body_big,
	.ccl-body_normal,
	.ccl-body_small {
		color: $ccl-color-text;
	}

	.ccl-text_light_color {
		color: $ccl-color-text_light;
	}

	.ccl-link_hover_color,
	a:hover,
	.ccl-link_hover,
	.ccl-breadcrumbs_link_hover {
		color: $ccl-color-link_hover;
		border-color: $ccl-color-link_hover;
	}

	.ccl-link_color,
	.ccl_button_color,
	a,
	.ccl-link,
	.ccl-breadcrumbs_link {
		color: $ccl-color-link;
		border-color: $ccl-color-link;
	}

	.ccl-list li::before {
		background: $ccl-color-main;
	}

	.ccl-button--default {
		border-color: $ccl-color-main;
		color: $ccl-color-main;

		&:active,
		&:focus,
		&:hover {
			background-color: $ccl-color-main;
			color: #fff;
		}

	}

	.ccl-button--filter-primary,
	.ccl-button--filter-icon {
		background-color: $ccl-color-main;
		color: #fff;

		&:active,
		&:focus,
		&:hover {
			border-color: $ccl-color-main;
			background-color: #fff;
			color: $ccl-color-main;
		}

	}

	.ccl-button--filter-secondary {
		background-color:#{$ccl-color-main}80;
		color: #fff;

		&:active,
		&:focus,
		&:hover {
			border-color: $ccl-color-main;
			color: $ccl-color-main;
			background-color: #fff;
		}

	}

	.ccl-breadcrumb__segment--last {
		color: $ccl-color-link_hover;
	}

	.ccl-block-title {
		border-color: $ccl-color-main;
	}

	.ccl-form-check-input:checked+.ccl-form-check-label::after,
	.form-check-input:checked+label::after {
		border-color: $ccl-color-main !important;
	}

	.ccl-form-check-input:checked+.ccl-form-check-label:before {
		border-color: $ccl-color-main;
	}

	.ccl-filter-title {
		background-color: $ccl-color-main;
	}

	.ccl-modal {
		background-color: $ccl-color-main;
	}

	.ccl-footer-main {
		background-color: $ccl-color-main;
	}

	.ccl-footer-form button {
		color: $ccl-color-main !important;
	}

	.ccl-header-tools {
		background-color: $ccl-color-main;
	}

	.ccl-header-search input {
		color: $ccl-color-main !important;
	}

	.ccl-header-search button {
		background-color: $ccl-color-text !important;
	}

	ul.ccl-language-list{
		background-color: $ccl-color-main !important;
		li a:hover,
		li a.is-active:hover{
			color: $ccl-color-main !important;
			background-color: #fff;
		}
	}
	.ccl-header-slogan {
		@media (max-width:700px) {
			color: $ccl-color-main !important;

		}
	}

	@media (min-width:$collapse-menu-width) {
	.ccl-header-main-menu  {
		a {
			color: $ccl-color-main !important;

			&:hover {
				border-color: $ccl-color-main !important;
			}

		}

		li li {
			border-color: $ccl-color-main !important;

			a:hover {
				background-color: $ccl-color-main !important;
				color: #fff !important;
			}

		}

	}
	.ccl-list-carousel .ccl-list-item-image img{
		border-color: $ccl-color-main !important;
	}
	.ccl-list-carousel .slick-arrow:before{
		color: $ccl-color-main !important;
	}

}
	@media (max-width:$collapse-menu-width) {
		.ccl-header-main-menu,
	.ccl-collapsible-toolmenu {
		a {
			color: #fff !important;

			&:hover,
			&.active {
				background-color: rgba(255,255,255,0.2) !important;
			}

		}
		.active{
			a{
				background-color: rgba(255,255,255,0.2) !important;
			}
		}

		

	}
	}

	.ccl-list-item-image {
		border-color: $ccl-color-main;
	}

	.ccl-banner-top-bar {
		background-color: $ccl-color-main !important;
	}
	.ccl-banner-top-main-block-title{
		background-color:#{$ccl-color-main}80;
	}
	.ccl-main-menu-collapse-button:hover,
	.ccl-search-collapse-button:hover{
		color: $ccl-color-main !important;
	}
	.ccl-main-menu{
		@media (max-width:$collapse-menu-width) {
			background-color: $ccl-color-main !important;
		}
	}
	.ccl-use-case-col-list{
		background-color:#{$ccl-color-main}0f;
	}

}

.ccl-service-button-m,
.ccl-service-button-l,
.ccl-service-button-f {
	&.ccl-service-button-#{$theme}{
		background-color: $ccl-color-main;

		.ccl-service-button-icon path {
			fill: #fff;
		}

		&:active,
		&:focus,
		&:hover {
			background-color: #fff;
			color: $ccl-color-main;

			.ccl-service-button-icon path {
				fill: $ccl-color-main;
			}

		}

	}

}

.ccl-service-button-s {
	&.ccl-service-button-#{$theme}{
		.ccl-service-button-icon {
			path {
				fill: $ccl-color-main;
			}

		}

		&.ccl-service-button-link {
			&:active,
			&:focus,
			&:hover {
				background-color: $ccl-color-main;

				.ccl-service-button-icon path {
					fill: #fff;
				}

			}

		}

	}

}

.ccl-service-button-w {
	&.ccl-service-button-#{$theme}{
		.ccl-service-button-icon {
			path {
				fill: #fff;
			}

		}

		&.ccl-service-button-link {
			&:active,
			&:focus,
			&:hover {
				background-color: #fff;

				.ccl-service-button-icon path {
					fill: $ccl-color-main;
				}

			}

		}

	}

}

.ccl-service-button-full {
	&.ccl-service-button-#{$theme}{
		.ccl-service-button-label {
			color: $ccl-color-main;
		}

		&.ccl-service-button-link {
			&:active,
			&:focus,
			&:hover {
				background-color: $ccl-color-main;

				.ccl-service-button-icon path {
					fill: #fff;
				}

				.ccl-service-button-label {
					color: #fff;
				}

			}

		}

	}

}
