

/*THEME land*/
$theme: land;
$ccl-color-main:#A0B128; 
$ccl-color-title:#273B4B; 
$ccl-color-text:#212529; 
$ccl-color-text_light:#ADB0B8; 
$ccl-color-link_hover:#7C8921; 
$ccl-color-link:#ACBE39; 

