

/*THEME marine*/
$theme: marine;
$ccl-color-main:#22689b; 
$ccl-color-title:#273b4b; 
$ccl-color-text:#212529; 
$ccl-color-text_light:#ADB0B8; 
$ccl-color-link_hover:#146883; 
$ccl-color-link:#1B97BF; 

