

/*THEME insitu*/
$theme: insitu;
$ccl-color-main:#783F34; 
$ccl-color-title:#273B4B; 
$ccl-color-text:#212529; 
$ccl-color-text_light:#ADB0B8; 
$ccl-color-link_hover:#60342B; 
$ccl-color-link:#96574A; 

