

/*THEME climate*/
$theme: climate;
$ccl-color-main:#941333; 
$ccl-color-title:#273B4B; 
$ccl-color-text:#212529; 
$ccl-color-text_light:#ADB0B8; 
$ccl-color-link_hover:#720A24; 
$ccl-color-link:#BA1B43; 

