

/*THEME atmosphere*/
$theme: atmosphere;
$ccl-color-main:#55BFD0; 
$ccl-color-title:#273B4B; 
$ccl-color-text:#212529; 
$ccl-color-text_light:#ADB0B8; 
$ccl-color-link_hover:#5AA8BC; 
$ccl-color-link:#80DCF4; 

