// valid for all themes
$ccl-color-error:#da2130;
$ccl-color-border-grey:#404040;
$ccl-color-border-medium:#6C6E73;
$ccl-color-border-grey-light:#dadada;
$ccl-color-bg-grey:#7690A3;

/*THEME generic*/
$theme: generic;
$ccl-color-main:#273B4B; 
$ccl-color-title:#273B4B; 
$ccl-color-text:#212529; 
$ccl-color-text_light:#ADB0B8; 
$ccl-color-link_hover:#286E9F; 
$ccl-color-link:#69A8DB; 

