

/*THEME emergency*/
$theme: emergency;
$ccl-color-main:#FAA73E; 
$ccl-color-title:#273B4B; 
$ccl-color-text:#212529; 
$ccl-color-text_light:#ADB0B8; 
$ccl-color-link_hover:#286E9F; 
$ccl-color-link:#FFBD6A; 
