<h2>How to use</h2>
<h3>1. Set up on Your Site</h3>
<p>Copy this code into the <b>&lt;head&gt;</b> of each template or page where you want to use a ccl element.</p>
<p>
<textarea class="toCodeMirror" id="demo-include-css">
 <script src="{{ site.url }}{{ site.baseurl }}/ccl-assets/js/jquery.min.js"></script>
 <script src="{{ site.url }}{{ site.baseurl }}/ccl-assets/js/slick.min.js"></script>
 <script src="{{ site.url }}{{ site.baseurl }}/ccl-assets/js/ccl-functions.js"></script>	

 <link rel="stylesheet" type="text/css" href="{{ site.url }}{{ site.baseurl }}/ccl-assets/css/ccl.css" media="all">
</textarea>
</p>
<h3>2. Choose your Color palette</h3>
<p>Add Classes on your element <b>&lt;body&gt;</b> (or on a html container). Find the right one  according the theme to use on  your page.</p>
<p>example:
<textarea class="toCodeMirror" id="demo-body-example">
 <body class="ccl-style ccl-color_generic">
</textarea>
</p>

<h3>3. Add Elements to Your UI</h3>
<p>Start placing element in your HTML's <b>&lt;body&gt;</b>. Find the right HTML string , copy/paste on your page and customize it.</p>
