
<ul>
	<li><a href="#">Styles</a>
		<ul>
			<li><a href="{{site.baseurl}}/ccl-styles/ccl-logos.html">Logos</a></li>
			<li><a href="#">Typography</a>
				<ul>
					<li><a href="{{site.baseurl}}/ccl-styles/ccl-fonts.html">Font</a></li>
					<li><a href="{{site.baseurl}}/ccl-styles/ccl-headings.html">Headlines and headings</a></li>
					<li><a href="{{site.baseurl}}/ccl-styles/ccl-paragraphs.html">Paragraphs</a></li>
					<li><a href="{{site.baseurl}}/ccl-styles/ccl-lists.html">Rich Text Lists</a></li>
				</ul>
			</li>
			<li><a href="{{site.baseurl}}/ccl-styles/ccl-colors.html">Colors</a></li>
			<li><a href="#">Services</a>
				<ul>
					<li><a href="{{site.baseurl}}/ccl-styles/ccl-services-buttons.html">Buttons</a></li>
					<li><a href="{{site.baseurl}}/ccl-styles/ccl-services-icons.html">Icons</a></li>
				</ul>
			</ul>
		</li>

		<li><a href="#">Components</a>
			<ul>

				<li><a href="{{site.baseurl}}/ccl-elements/ccl-buttons.html">Buttons</a></li>
				<li><a href="{{site.baseurl}}/ccl-elements/ccl-links.html">Links</a></li>
				<li><a href="{{site.baseurl}}/ccl-elements/ccl-breadcrumbs.html">Breadcrumbs</a></li>
				<li><a href="{{site.baseurl}}/ccl-elements/ccl-error.html">Error</a></li>		
				<li><a href="{{site.baseurl}}/ccl-elements/ccl-forms.html">Forms</a></li>
				<li><a href="{{site.baseurl}}/ccl-elements/ccl-icons.html">Icons</a></li>
				<li><a href="{{site.baseurl}}/ccl-elements/ccl-dropdowns.html">Expand/Collapse</a></li>	
				<li><a href="{{site.baseurl}}/ccl-elements/ccl-filters.html">Filters</a></li>
				<li><a href="{{site.baseurl}}/ccl-elements/ccl-modal.html">Showcase alert</a></li>

			</ul>
		</li>
		<li><a href="#">Templates</a>
			<ul>
				<li><a href="{{site.baseurl}}/ccl-layout/ccl-header.html">Header</a></li>							
				<li><a href="{{site.baseurl}}/ccl-layout/ccl-footer.html">Footer</a></li>
				<li><a href="#">Content</a>
					<ul>
						<li><a href="{{site.baseurl}}/ccl-layout/ccl-banner.html">Banner</a></li>
						<li><a href="{{site.baseurl}}/ccl-layout/ccl-services.html">Services</a></li>
						<li><a href="{{site.baseurl}}/ccl-layout/ccl-quicklinks.html">Quicklinks</a></li>
						<li><a href="{{site.baseurl}}/ccl-layout/ccl-partners.html">Partners</a></li>
						<li><a href="{{site.baseurl}}/ccl-layout/ccl-list_items.html">List items</a></li>
						<li><a href="{{site.baseurl}}/ccl-layout/ccl-use_cases.html">Use cases</a></li>
						<li><a href="{{site.baseurl}}/ccl-layout/ccl-carousel.html">Carousel</a></li>
					</ul>
				</li>
				<li><a href="{{site.baseurl}}/ccl-layout/ccl-layout.html">Homepage layout</a></li>
				
			</ul>
		</li>
	</ul>
