/*THEME generic*/
.ccl-color_generic {
  /*backgrounds*/
  /*elements*/ }
  .ccl-color_generic .ccl-main_bgcolor {
    background-color: #0094E0; }
  .ccl-color_generic .ccl-title_bgcolor {
    background-color: #273B4B; }
  .ccl-color_generic .ccl-text_bgcolor {
    background-color: #212529; }
  .ccl-color_generic .ccl-text_light_bgcolor {
    background-color: #ADB0B8; }
  .ccl-color_generic .ccl-link_hover_bgcolor {
    background-color: #286E9F; }
  .ccl-color_generic .ccl-link_bgcolor {
    background-color: #69A8DB; }
  .ccl-color_generic .ccl-main_color {
    color: #0094E0; }
  .ccl-color_generic .ccl-title_color,
  .ccl-color_generic h1,
  .ccl-color_generic h2,
  .ccl-color_generic h3,
  .ccl-color_generic h4,
  .ccl-color_generic h5,
  .ccl-color_generic h6,
  .ccl-color_generic .ccl-title_headline,
  .ccl-color_generic .ccl-title,
  .ccl-color_generic .ccl-body_title,
  .ccl-color_generic input {
    color: #273B4B; }
  .ccl-color_generic input {
    border-color: #273B4B; }
  .ccl-color_generic .ccl-text_color,
  .ccl-color_generic p,
  .ccl-color_generic .ccl-body_big,
  .ccl-color_generic .ccl-body_normal,
  .ccl-color_generic .ccl-body_small {
    color: #212529; }
  .ccl-color_generic .ccl-text_light_color {
    color: #ADB0B8; }
  .ccl-color_generic .ccl-link_hover_color,
  .ccl-color_generic a:hover,
  .ccl-color_generic .ccl-link_hover,
  .ccl-color_generic .ccl-breadcrumbs_link_hover {
    color: #286E9F;
    border-color: #286E9F; }
  .ccl-color_generic .ccl-link_color,
  .ccl-color_generic .ccl_button_color,
  .ccl-color_generic a,
  .ccl-color_generic .ccl-link,
  .ccl-color_generic .ccl-breadcrumbs_link {
    color: #69A8DB;
    border-color: #69A8DB; }

/*THEME climate*/
.ccl-color_climate {
  /*backgrounds*/
  /*elements*/ }
  .ccl-color_climate .ccl-main_bgcolor {
    background-color: #941333; }
  .ccl-color_climate .ccl-title_bgcolor {
    background-color: #273B4B; }
  .ccl-color_climate .ccl-text_bgcolor {
    background-color: #212529; }
  .ccl-color_climate .ccl-text_light_bgcolor {
    background-color: #ADB0B8; }
  .ccl-color_climate .ccl-link_hover_bgcolor {
    background-color: #720A24; }
  .ccl-color_climate .ccl-link_bgcolor {
    background-color: #BA1B43; }
  .ccl-color_climate .ccl-main_color {
    color: #941333; }
  .ccl-color_climate .ccl-title_color,
  .ccl-color_climate h1,
  .ccl-color_climate h2,
  .ccl-color_climate h3,
  .ccl-color_climate h4,
  .ccl-color_climate h5,
  .ccl-color_climate h6,
  .ccl-color_climate .ccl-title_headline,
  .ccl-color_climate .ccl-title,
  .ccl-color_climate .ccl-body_title,
  .ccl-color_climate input {
    color: #273B4B; }
  .ccl-color_climate input {
    border-color: #273B4B; }
  .ccl-color_climate .ccl-text_color,
  .ccl-color_climate p,
  .ccl-color_climate .ccl-body_big,
  .ccl-color_climate .ccl-body_normal,
  .ccl-color_climate .ccl-body_small {
    color: #212529; }
  .ccl-color_climate .ccl-text_light_color {
    color: #ADB0B8; }
  .ccl-color_climate .ccl-link_hover_color,
  .ccl-color_climate a:hover,
  .ccl-color_climate .ccl-link_hover,
  .ccl-color_climate .ccl-breadcrumbs_link_hover {
    color: #720A24;
    border-color: #720A24; }
  .ccl-color_climate .ccl-link_color,
  .ccl-color_climate .ccl_button_color,
  .ccl-color_climate a,
  .ccl-color_climate .ccl-link,
  .ccl-color_climate .ccl-breadcrumbs_link {
    color: #BA1B43;
    border-color: #BA1B43; }

/*THEME land*/
.ccl-color_land {
  /*backgrounds*/
  /*elements*/ }
  .ccl-color_land .ccl-main_bgcolor {
    background-color: #A0B128; }
  .ccl-color_land .ccl-title_bgcolor {
    background-color: #273B4B; }
  .ccl-color_land .ccl-text_bgcolor {
    background-color: #212529; }
  .ccl-color_land .ccl-text_light_bgcolor {
    background-color: #ADB0B8; }
  .ccl-color_land .ccl-link_hover_bgcolor {
    background-color: #7C8921; }
  .ccl-color_land .ccl-link_bgcolor {
    background-color: #ACBE39; }
  .ccl-color_land .ccl-main_color {
    color: #A0B128; }
  .ccl-color_land .ccl-title_color,
  .ccl-color_land h1,
  .ccl-color_land h2,
  .ccl-color_land h3,
  .ccl-color_land h4,
  .ccl-color_land h5,
  .ccl-color_land h6,
  .ccl-color_land .ccl-title_headline,
  .ccl-color_land .ccl-title,
  .ccl-color_land .ccl-body_title,
  .ccl-color_land input {
    color: #273B4B; }
  .ccl-color_land input {
    border-color: #273B4B; }
  .ccl-color_land .ccl-text_color,
  .ccl-color_land p,
  .ccl-color_land .ccl-body_big,
  .ccl-color_land .ccl-body_normal,
  .ccl-color_land .ccl-body_small {
    color: #212529; }
  .ccl-color_land .ccl-text_light_color {
    color: #ADB0B8; }
  .ccl-color_land .ccl-link_hover_color,
  .ccl-color_land a:hover,
  .ccl-color_land .ccl-link_hover,
  .ccl-color_land .ccl-breadcrumbs_link_hover {
    color: #7C8921;
    border-color: #7C8921; }
  .ccl-color_land .ccl-link_color,
  .ccl-color_land .ccl_button_color,
  .ccl-color_land a,
  .ccl-color_land .ccl-link,
  .ccl-color_land .ccl-breadcrumbs_link {
    color: #ACBE39;
    border-color: #ACBE39; }

/*THEME atmosphere*/
.ccl-color_atmosphere {
  /*backgrounds*/
  /*elements*/ }
  .ccl-color_atmosphere .ccl-main_bgcolor {
    background-color: #55BFD0; }
  .ccl-color_atmosphere .ccl-title_bgcolor {
    background-color: #273B4B; }
  .ccl-color_atmosphere .ccl-text_bgcolor {
    background-color: #212529; }
  .ccl-color_atmosphere .ccl-text_light_bgcolor {
    background-color: #ADB0B8; }
  .ccl-color_atmosphere .ccl-link_hover_bgcolor {
    background-color: #5AA8BC; }
  .ccl-color_atmosphere .ccl-link_bgcolor {
    background-color: #80DCF4; }
  .ccl-color_atmosphere .ccl-main_color {
    color: #55BFD0; }
  .ccl-color_atmosphere .ccl-title_color,
  .ccl-color_atmosphere h1,
  .ccl-color_atmosphere h2,
  .ccl-color_atmosphere h3,
  .ccl-color_atmosphere h4,
  .ccl-color_atmosphere h5,
  .ccl-color_atmosphere h6,
  .ccl-color_atmosphere .ccl-title_headline,
  .ccl-color_atmosphere .ccl-title,
  .ccl-color_atmosphere .ccl-body_title,
  .ccl-color_atmosphere input {
    color: #273B4B; }
  .ccl-color_atmosphere input {
    border-color: #273B4B; }
  .ccl-color_atmosphere .ccl-text_color,
  .ccl-color_atmosphere p,
  .ccl-color_atmosphere .ccl-body_big,
  .ccl-color_atmosphere .ccl-body_normal,
  .ccl-color_atmosphere .ccl-body_small {
    color: #212529; }
  .ccl-color_atmosphere .ccl-text_light_color {
    color: #ADB0B8; }
  .ccl-color_atmosphere .ccl-link_hover_color,
  .ccl-color_atmosphere a:hover,
  .ccl-color_atmosphere .ccl-link_hover,
  .ccl-color_atmosphere .ccl-breadcrumbs_link_hover {
    color: #5AA8BC;
    border-color: #5AA8BC; }
  .ccl-color_atmosphere .ccl-link_color,
  .ccl-color_atmosphere .ccl_button_color,
  .ccl-color_atmosphere a,
  .ccl-color_atmosphere .ccl-link,
  .ccl-color_atmosphere .ccl-breadcrumbs_link {
    color: #80DCF4;
    border-color: #80DCF4; }

/*THEME marine*/
.ccl-color_marine {
  /*backgrounds*/
  /*elements*/ }
  .ccl-color_marine .ccl-main_bgcolor {
    background-color: #1484A8; }
  .ccl-color_marine .ccl-title_bgcolor {
    background-color: #273b4b; }
  .ccl-color_marine .ccl-text_bgcolor {
    background-color: #212529; }
  .ccl-color_marine .ccl-text_light_bgcolor {
    background-color: #ADB0B8; }
  .ccl-color_marine .ccl-link_hover_bgcolor {
    background-color: #146883; }
  .ccl-color_marine .ccl-link_bgcolor {
    background-color: #1B97BF; }
  .ccl-color_marine .ccl-main_color {
    color: #1484A8; }
  .ccl-color_marine .ccl-title_color,
  .ccl-color_marine h1,
  .ccl-color_marine h2,
  .ccl-color_marine h3,
  .ccl-color_marine h4,
  .ccl-color_marine h5,
  .ccl-color_marine h6,
  .ccl-color_marine .ccl-title_headline,
  .ccl-color_marine .ccl-title,
  .ccl-color_marine .ccl-body_title,
  .ccl-color_marine input {
    color: #273b4b; }
  .ccl-color_marine input {
    border-color: #273b4b; }
  .ccl-color_marine .ccl-text_color,
  .ccl-color_marine p,
  .ccl-color_marine .ccl-body_big,
  .ccl-color_marine .ccl-body_normal,
  .ccl-color_marine .ccl-body_small {
    color: #212529; }
  .ccl-color_marine .ccl-text_light_color {
    color: #ADB0B8; }
  .ccl-color_marine .ccl-link_hover_color,
  .ccl-color_marine a:hover,
  .ccl-color_marine .ccl-link_hover,
  .ccl-color_marine .ccl-breadcrumbs_link_hover {
    color: #146883;
    border-color: #146883; }
  .ccl-color_marine .ccl-link_color,
  .ccl-color_marine .ccl_button_color,
  .ccl-color_marine a,
  .ccl-color_marine .ccl-link,
  .ccl-color_marine .ccl-breadcrumbs_link {
    color: #1B97BF;
    border-color: #1B97BF; }

/*THEME security*/
.ccl-color_security {
  /*backgrounds*/
  /*elements*/ }
  .ccl-color_security .ccl-main_bgcolor {
    background-color: #618888; }
  .ccl-color_security .ccl-title_bgcolor {
    background-color: #273B4B; }
  .ccl-color_security .ccl-text_bgcolor {
    background-color: #212529; }
  .ccl-color_security .ccl-text_light_bgcolor {
    background-color: #ADB0B8; }
  .ccl-color_security .ccl-link_hover_bgcolor {
    background-color: #617B7B; }
  .ccl-color_security .ccl-link_bgcolor {
    background-color: #7DA7A7; }
  .ccl-color_security .ccl-main_color {
    color: #618888; }
  .ccl-color_security .ccl-title_color,
  .ccl-color_security h1,
  .ccl-color_security h2,
  .ccl-color_security h3,
  .ccl-color_security h4,
  .ccl-color_security h5,
  .ccl-color_security h6,
  .ccl-color_security .ccl-title_headline,
  .ccl-color_security .ccl-title,
  .ccl-color_security .ccl-body_title,
  .ccl-color_security input {
    color: #273B4B; }
  .ccl-color_security input {
    border-color: #273B4B; }
  .ccl-color_security .ccl-text_color,
  .ccl-color_security p,
  .ccl-color_security .ccl-body_big,
  .ccl-color_security .ccl-body_normal,
  .ccl-color_security .ccl-body_small {
    color: #212529; }
  .ccl-color_security .ccl-text_light_color {
    color: #ADB0B8; }
  .ccl-color_security .ccl-link_hover_color,
  .ccl-color_security a:hover,
  .ccl-color_security .ccl-link_hover,
  .ccl-color_security .ccl-breadcrumbs_link_hover {
    color: #617B7B;
    border-color: #617B7B; }
  .ccl-color_security .ccl-link_color,
  .ccl-color_security .ccl_button_color,
  .ccl-color_security a,
  .ccl-color_security .ccl-link,
  .ccl-color_security .ccl-breadcrumbs_link {
    color: #7DA7A7;
    border-color: #7DA7A7; }

/*THEME emergency*/
.ccl-color_emergency {
  /*backgrounds*/
  /*elements*/ }
  .ccl-color_emergency .ccl-main_bgcolor {
    background-color: #FAA73E; }
  .ccl-color_emergency .ccl-title_bgcolor {
    background-color: #273B4B; }
  .ccl-color_emergency .ccl-text_bgcolor {
    background-color: #212529; }
  .ccl-color_emergency .ccl-text_light_bgcolor {
    background-color: #ADB0B8; }
  .ccl-color_emergency .ccl-link_hover_bgcolor {
    background-color: #286E9F; }
  .ccl-color_emergency .ccl-link_bgcolor {
    background-color: #FFBD6A; }
  .ccl-color_emergency .ccl-main_color {
    color: #FAA73E; }
  .ccl-color_emergency .ccl-title_color,
  .ccl-color_emergency h1,
  .ccl-color_emergency h2,
  .ccl-color_emergency h3,
  .ccl-color_emergency h4,
  .ccl-color_emergency h5,
  .ccl-color_emergency h6,
  .ccl-color_emergency .ccl-title_headline,
  .ccl-color_emergency .ccl-title,
  .ccl-color_emergency .ccl-body_title,
  .ccl-color_emergency input {
    color: #273B4B; }
  .ccl-color_emergency input {
    border-color: #273B4B; }
  .ccl-color_emergency .ccl-text_color,
  .ccl-color_emergency p,
  .ccl-color_emergency .ccl-body_big,
  .ccl-color_emergency .ccl-body_normal,
  .ccl-color_emergency .ccl-body_small {
    color: #212529; }
  .ccl-color_emergency .ccl-text_light_color {
    color: #ADB0B8; }
  .ccl-color_emergency .ccl-link_hover_color,
  .ccl-color_emergency a:hover,
  .ccl-color_emergency .ccl-link_hover,
  .ccl-color_emergency .ccl-breadcrumbs_link_hover {
    color: #286E9F;
    border-color: #286E9F; }
  .ccl-color_emergency .ccl-link_color,
  .ccl-color_emergency .ccl_button_color,
  .ccl-color_emergency a,
  .ccl-color_emergency .ccl-link,
  .ccl-color_emergency .ccl-breadcrumbs_link {
    color: #FFBD6A;
    border-color: #FFBD6A; }

/*THEME insitu*/
.ccl-color_insitu {
  /*backgrounds*/
  /*elements*/ }
  .ccl-color_insitu .ccl-main_bgcolor {
    background-color: #783F34; }
  .ccl-color_insitu .ccl-title_bgcolor {
    background-color: #273B4B; }
  .ccl-color_insitu .ccl-text_bgcolor {
    background-color: #212529; }
  .ccl-color_insitu .ccl-text_light_bgcolor {
    background-color: #ADB0B8; }
  .ccl-color_insitu .ccl-link_hover_bgcolor {
    background-color: #60342B; }
  .ccl-color_insitu .ccl-link_bgcolor {
    background-color: #96574A; }
  .ccl-color_insitu .ccl-main_color {
    color: #783F34; }
  .ccl-color_insitu .ccl-title_color,
  .ccl-color_insitu h1,
  .ccl-color_insitu h2,
  .ccl-color_insitu h3,
  .ccl-color_insitu h4,
  .ccl-color_insitu h5,
  .ccl-color_insitu h6,
  .ccl-color_insitu .ccl-title_headline,
  .ccl-color_insitu .ccl-title,
  .ccl-color_insitu .ccl-body_title,
  .ccl-color_insitu input {
    color: #273B4B; }
  .ccl-color_insitu input {
    border-color: #273B4B; }
  .ccl-color_insitu .ccl-text_color,
  .ccl-color_insitu p,
  .ccl-color_insitu .ccl-body_big,
  .ccl-color_insitu .ccl-body_normal,
  .ccl-color_insitu .ccl-body_small {
    color: #212529; }
  .ccl-color_insitu .ccl-text_light_color {
    color: #ADB0B8; }
  .ccl-color_insitu .ccl-link_hover_color,
  .ccl-color_insitu a:hover,
  .ccl-color_insitu .ccl-link_hover,
  .ccl-color_insitu .ccl-breadcrumbs_link_hover {
    color: #60342B;
    border-color: #60342B; }
  .ccl-color_insitu .ccl-link_color,
  .ccl-color_insitu .ccl_button_color,
  .ccl-color_insitu a,
  .ccl-color_insitu .ccl-link,
  .ccl-color_insitu .ccl-breadcrumbs_link {
    color: #96574A;
    border-color: #96574A; }

/*# sourceMappingURL=colors.css.map */
