body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	font-size: 18px;
	font-weight: 400;
}

.ccl-main-container {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
}

.demo-site-header {
	background-color: #273B4B;
	height: 150px;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: relative;
	padding-left: 3rem;
}

.demo-container {
	display: flex;
	flex: 1;
}
.demo-content {
    width: calc(100% - 300px);
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
}
.demo-content.fullwidth {
    width: 100%;
    
}
@media (max-width:1024px) {
.demo-content {
    	width: 100%;
}
}
.demo-element {
	width: 100%;
}

.demo-leftside {
	min-width: 300px;
	background-color: #f9f9f9;
	position: relative;
	

}
@media (max-width:1024px) {
	.demo-leftside {
		display: none;
		position: absolute;
	}
}

.demo-site-nav .demo-side-navigation__root {
	list-style: none;
	margin: 0;
	min-width: 13rem;
	padding: 0 1rem;
	position: relative;
}

.demo-site-nav .demo-side-navigation__group {
	list-style: none;
}

.demo-site-nav .demo-side-navigation__item .demo-side-navigation__link {
	border-bottom: 1px solid #9f9f9f;
	color: #404040;
	display: -webkit-flex;
	display: flex;
	font-size: 1rem;
	padding: 0.5rem 0;
	position: relative;
	text-decoration: none;
}

.demo-side-navigation__active {
	font-weight: 700;
}

.demo-site-nav .demo-side-navigation__group {
	display: none;
	list-style: none;
	margin-left: -1rem;
	margin-right: -1rem;
	padding: 0 1rem;
	position: relative;
	background-color: #f5f5f5;
}

.demo-side-navigation__group .demo-side-navigation__item {
	padding-left: 1rem;
}

.demo-expandable__button[aria-expanded='false']::after {
	content: '\e914';
}

.demo-expandable__button[aria-expanded='true']::after {
	content: '\e911';
}

.demo-side-navigation__link::after {
	position: absolute;
	right: 0;
	text-decoration: none;
}

.demo-expandable__button::after {
	display: inline-block;
	font-family: "ccl-icons";
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
	font-style: normal;
	font-variant: normal;
	font-weight: 900;
	line-height: 1;
	margin-left: 4px;
	speak: none;
	text-decoration: none;
	text-transform: none;
	font-size: 1.2rem;
	margin-left: 0.66rem;
}

.demo-site-nav .demo-side-navigation__link[aria-expanded='true'] ~ .demo-side-navigation__group {
	display: block;
}

.ccl-logo {
	max-height: 80px;
}

.demo-site-header h1 {
	color: #FFF;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 400;
}

.demo-group {
	margin: 20px;
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}

.demo-group.demo-large {
	flex-flow: column;
}

code {
	font-family: Consolas, Menlo, Monaco, Lucida Console, Liberation Mono, DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace, serif;
	margin-bottom: 10px;
	overflow: auto;
	width: auto;
	padding: 5px;
	background-color: #eee;
	width: 650px!ie7;
	padding-bottom: 20px!ie7;
	max-height: 600px;
}

.demo-label {
	width: 100%;
	font-size: 30px;
	margin-bottom: 20px;
	font-weight: 700;
	color: #273B4B;
}
.demo-doc {
	width: calc(100% - 40px);
	border: 1px solid #ddd;
	margin-bottom: 20px;
	margin-right: 20px;
	padding: 20px;
}
.demo-item-container {
	width: calc(50% - 50px);
	border: 1px solid #ddd;
	margin-bottom: 20px;
	margin-right: 20px;

}
.demo-item-container-col {
	overflow: hidden;
}

.demo-item{
	margin: 20px;
}
.demo-color {
	display: flex;
	justify-content: space-between;
	margin: 0px 5px 0px -5px;
}

.demo-large .demo-item-container {
	width: 100% ;
}
.demo-large .demo-code {
	width: 100% ;
}

.demo-color > div {
	margin: 5px;
}

.demo-color  div {
	width: 100%;
}

.demo-color div > span:first-child {
	text-transform: uppercase;
	font-size: 0.7em;
	text-align: center;
	font-weight: 600;
	margin-top: 5px;
	display: block;
}
.copy-color{
	position: relative;
	cursor: pointer;
}

.copy-color:before{
	-webkit-transition: all .2s ease;
    transition: all .2s ease;
	position: absolute;
	content: "Copy";
	top:40%;
	margin-left: calc(25% - 10px);
	margin-right: calc(25% - 10px);
	text-align: center;
	color: #fff;
	padding: 5px 10px;
	border:2px solid #fff;
	width: 50%;
}
.copied:before{
	
	content: "Copied";
	background-color:  #ccc !important;
}
.copy-color:hover:before{
	background-color:  #fff;
	color:inherit;
}

.square {
	width: 50%;
}

.square:after {
	content: "";
	display: block;
	padding-bottom: 100%;
}

.demo-item-container .label {
	background-color: #eee;
	font-size: 18px;
	padding: 5px 10px;
	
}

.demo-color_code {
	font-size: 1em;
	text-align: center;
	font-weight: 600;
	margin-top: 5px;
	display: block;
	position: relative;
}

.demo-rgb {
	display: inline-block;
	font-size: 15px;
	white-space: nowrap;
	position: absolute;
	bottom: -20px;
	left: 0;
	right: 0;
}

.demo-code {
	width: calc(50% - 14px);
	border: 1px solid #ccc;
	background: #fefefe;
	margin-bottom: 20px;
}

.demo-code .label {
	background-color: #ddd;
	font-size: 18px;
	padding: 5px 10px;
	
}

.demo-icon{
	display: flex;
	flex-flow: row;
	flex-wrap: wrap;
}
.demo-icon-nowrap{
	display: flex;
	flex-flow: row;
}
.CodeMirror {
	height: auto !important;
}

#themeselector_container {
	bottom: 0px;
	left: 0px;
	padding: 0px;
	position: fixed;
	z-index: 10000;
	width: 300px;
}

.themeselector {
	padding: 20px;
}

#themeselector {
	font-size: 20px;
	
	padding: 5px 10px;
	margin: 0px 20px;
	text-align: center;
	width: calc(100% - 40px);
}

.themeselector_label {
	color: #fff;
	font-size: 20px;
	font-weight: 900;
	padding-bottom: 10px;
	text-align: center;
}

#howto_container {
	margin: 20px;
	padding: 20px;
	border: 1px solid #ddd;
}


.demo-grey{
	background-color:#999;justify-content: space-around; padding: 10px;
}
.demo-table{
	width: 100%
}
.demo-table td{
	border-bottom: 1px solid #dadada;
	padding: 5px 5px;
}
.demo-icon{
	font-size: 1.5rem;
}

.demo-collapse-nav-btn{
	position: absolute;
	border:1px solid #fff;
	width: 2.5rem;
	height: 2.5rem;
	bottom: 0;
	left: 0;
	line-height: 2.5rem;
	font-size: 1.5rem;
	text-align: center;
	color: #fff;
	display: block;
}
@media (max-width:1024px) {
	
	
	.demo-leftside{
		position: absolute;
		z-index: 10000;
		border-right: 3px solid #273B4B;
		border-bottom: 3px solid #273B4B;
		padding-bottom: 2rem;
	}	
	
	
}
