//paragraphs
p.ccl-paragraph--l,
.ccl-paragraph--l {
  font-size: 1.4rem;
  line-height: 1.6rem;

  p {
    font-size: 1.4rem;
    line-height: 1.6rem;
  }

  h2 {
    font-size: 2rem;
    margin-bottom: 1.1rem;
  }

}
p.ccl-paragraph--m,
.ccl-paragraph--m {
  font-size: 1rem;
  line-height: 1.3rem;

  p {
    font-size: 1rem;
    line-height: 1.3rem;
  }

  h2 {
    font-size: 1.4rem;
    margin-bottom: 1.1rem;
  }

}
p.ccl-paragraph--s,
.ccl-paragraph--s {
  font-size: 0.88rem;
  line-height: 1.15rem;

  p {
    font-size: 0.88rem;
    line-height: 1.15rem;
  }

  h2 {
    font-size: 1.1rem;
    margin-bottom: 1.1rem;
  }

}
