//icons services
.ccl-service-button-container {
	width: 100%;
}

.ccl-service-button {
	text-align: center;
	-webkit-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;

	&.ccl-service-button-f {
		color: #fff;
		padding: rem-calc(18);
		margin-right: rem-calc(8);
		margin-left: rem-calc(8);
		margin-bottom: rem-calc(16);
		position: relative;
		min-width: 100px;

		.ccl-service-button-label {
			position: absolute;
			text-align: center;
			width: calc(100% - 2rem);
			font-size: 1rem;
			bottom: 20%;
		}

		.ccl-service-button-icon {
			position: absolute;
			height: 30%;
			top: 20%;
			left: 0;
			right: 0;
			margin: auto;
		}

		&:after {
			content: "";
			display: block;
			padding-bottom: 100%;
		}

		&:active,
		&:focus,
		&:hover {
			-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
		}

	}

	&.ccl-service-button-m {
		width: rem-calc(184);
		height: rem-calc(184);
		min-width: rem-calc(184);
		min-height: rem-calc(184);
		color: #fff;
		padding: rem-calc(18);
		margin-right: rem-calc(8);
		margin-left: rem-calc(8);
		margin-bottom: rem-calc(16);

		.ccl-service-button-label {
			height: 100px;
			line-height: 100px;
			text-align: center;
			width: 100%;
			font-size: 1rem;
		}

		.ccl-service-button-icon {
			margin: auto;
			height: rem-calc(66);
			margin-top: rem-calc(22);
		}

		&:active,
		&:focus,
		&:hover {
			-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
		}

	}

	&.ccl-service-button-l {
		width: rem-calc(280);
		height: rem-calc(280);
		min-width: rem-calc(280);
		min-height: rem-calc(280);
		color: #fff;
		padding: rem-calc(18);
		margin-right: rem-calc(12);
		margin-left: rem-calc(12);
		margin-bottom: rem-calc(24);

		.ccl-service-button-label {
			height: 100px;
			line-height: 100px;
			text-align: center;
			width: 100%;
			font-size: 1.45rem;
		}

		.ccl-service-button-icon {
			margin: auto;
			height: rem-calc(116);
			margin-top: rem-calc(48);
		}

		&:active,
		&:focus,
		&:hover {
			-webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
			-moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
			box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.2);
		}

	}

	&.ccl-service-button-s,
	&.ccl-service-button-w {
		width: rem-calc(70);
		height: rem-calc(70);

		&.ccl-service-button-link {
			padding: 0.3rem;
			display: block;
		}

		.ccl-service-button-icon {
			width: 100%;
			height: 100%;
		}

	}

	&.ccl-service-button-full {
		height: rem-calc(70);
		width: rem-calc(300);
		display: flex;
		flex-flow:row;
		justify-content:left;
		margin-right: 1rem;
		margin-bottom: 1rem;
		    align-items: center;
		&.ccl-service-button-link {
			padding: 0.3rem;
			text-decoration: none;
			
		}

		.ccl-service-button-icon {
			width: rem-calc(70);
			height: 100%;
			margin-right: rem-calc(10);
		}
		.ccl-service-button-label{
			font-family: Arial, sans-serif;
			line-height: rem-calc(23);
			letter-spacing: -0.01rem;
			text-align: left;
			font-weight: 700;
			font-size: rem-calc(20);
		}

	}

}
