
//typography
html{
  font-size: 18px;
}

.ccl-style {
  font-family: 'Lato', sans-serif;
  font-size: 18px;
  font-weight: 400;

  h1,
  .ccl-heading--h1 {
    font-size: 2.7rem;
    font-weight: 400;
  }

  h2,
  .ccl-heading--h2 {
    font-size: 2rem;
    font-weight: 400;
  }

  h3,
  .ccl-heading--h3 {
    font-size: 1.4rem;
    font-weight: 400;
  }
  h4,
  .ccl-heading--h4 {
    font-size: 1.2rem;
    font-weight: 600;
  }
  h5,
  .ccl-heading--h5 {
    font-size: 1.2rem;
    font-weight: 400;
  }

  p{
    font-size: 1.0rem;
  }
   
}

.text-right{
text-align: right!important;
}

