.ccl-banner-top-container {
	.ccl-banner-top-main {
		background-size: cover !important;
		background-position: center center !important;
		min-height: rem-calc(375);
		padding: 0 rem-calc(20);
		.ccl-container {
			min-height: rem-calc(375);
			display: flex;
			align-items: center;
		}

	}

	.ccl-banner-top-main-block-title {
		max-width: rem-calc(450);
		color: #fff !important;
		font-size: rem-calc(25);
		padding: 0.5rem;


		.ccl-banner-top-main-title {
			font-size: rem-calc(49);
		}
		.ccl-banner-top-main-text {
			line-height: 1.4rem;
		}

	}

}

.ccl-banner-top-bar {
	color: #fff;
	border-bottom: 1px solid $ccl-color-border-medium;
	border-top: 1px solid $ccl-color-border-medium;
	padding: 0 rem-calc(20);

	.ccl-container {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		.ccl-banner-top-bar-left,
		.ccl-banner-top-bar-right{
			padding: rem-calc(12) 0;
		}
	}

}
