.ccl-footer {
	.ccl-footer-main {
		color: #fff;
		padding: 2rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;

		* {
			color: #fff !important;
		}

		.ccl-footer-logo {
			width: 100%;
			text-align: center;
			margin-bottom: rem-calc(100);

			.ccl-footer-logo-img {
				width: rem-calc(330);
			}

		}

		.ccl-footer-col {
			width: 28%;

			@media (max-width:900px) {
				width: 100%;
				margin-bottom: 3rem;
			}

			.ccl-footer-col-title {
				font-size: 1.3rem;
				border-bottom: 1px solid $ccl-color-border-grey-light;
				padding-bottom: 1.5rem;
			}

			.ccl-footer-body-title {
				text-transform: uppercase;
				letter-spacing: 0.05rem
			}

			.ccl-footer-services {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				margin-top: 1rem;

				.ccl-service-button {
					width: 22%;
					@media (max-width:1240px) {
						width: 35%;
					}
					@media (max-width:900px) {
						width: 22%;
					}
					text-decoration: none;
					font-size: 0.7rem;
					margin: rem-calc(10) 2%;				
    				padding: rem-calc(10) 3% 2rem 3%;
    				border: 1px solid transparent;

					&:hover,
					&:active,
					&:focus {
						background-color: transparent !important;
						color: $ccl-color-border-grey-light !important;
						border: 1px solid #fff;

						.ccl-service-button-icon path {
							fill: $ccl-color-border-grey-light !important;
						}

					}

				}

			}

			.ccl-footer-form {
				margin: 1rem 0;
				display: flex;

				input {
					display: block;
					background-color: transparent;
					border: 1px solid #fff;
					line-height: 1rem;
					padding: 0.2rem 0.5rem;
					color: #fff;
					font-family: 'Lato';
					font-size: 1rem;
					width: 100%;

					&:focus {
						outline-offset: none;
						outline: none;
					}

				}

				button {
					display: block;
					background-color: #fff;
					border: 1px solid #fff;
				}

			}

			.ccl-footer-social {
				text-align: center;
				display: flex;
				flex-wrap: wrap;
				justify-content: space-around;
				margin-top: 1rem;

				a {
					text-decoration: none;
					font-size: 1.5rem;
					display: block;
					-webkit-transition: all .2s ease-in-out;
					transition: all .2s ease-in-out;

					&:hover span {
						color: $ccl-color-border-grey-light !important;
					}

				}

			}

		}

	}

	.ccl-footer-bottom {
		.ccl-footer-legal {
			list-style: none;
			padding: none;
			margin: none;
			margin: rem-calc(60) 0;

			@media (min-width:900px) {
				display: flex;
				justify-content: center;
			}

			li {
				margin: 0 1rem;

				a {
					border-bottom: 0px;

					&:hover {
						border-bottom: 1px solid;
					}

				}

			}

		}

	}

}
