.ccl-banner-top-container-slider {
	.slick-arrow{
		z-index: 100;
		height: rem-calc(40);
		width: rem-calc(40);
		&:before {
			font-size: rem-calc(40);
			font-weight: 900;
		}
	}
	.slick-prev {		
		left: rem-calc(5);

	}

	.slick-next {
			right: rem-calc(5);
		

	

	}

}

.ccl-list-carousel{

	padding-left: rem-calc(40);
	padding-right: rem-calc(40);
	@media (max-width:600px) {
		padding-left: 0;
	padding-right: 0;
	}
	.slick-arrow{
		z-index: 100;
		height: rem-calc(40);
		width: rem-calc(40);
		&:before {
			font-size: rem-calc(40);
			font-weight: 900;
		}
	}
	.slick-prev {		
		left: rem-calc(-20);

	}

	.slick-next {
			right: rem-calc(-20);
		

	

	}

	.ccl-list-item{
		margin-left: rem-calc(10);
		margin-right: rem-calc(10);
	}
	.ccl-list-item-image{
		img{
			border-bottom:5px solid;
		}
	}
}