//buttons
.ccl-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background: none;
    border: 1px solid transparent;
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
    vertical-align: middle;
    font-family: 'Lato';
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    margin: 0;
    padding: .6rem 1rem;
    text-decoration: none;
    -webkit-transition: all .3s ease-out;
    transition: all .3s ease-out;
    cursor: pointer;

    &:active,
    &:focus,
    &:hover {
        //text-decoration: underline;
    }
    &.ccl-button--filter-primary{
        line-height: rem-calc(47);
         padding: 0 rem-calc(47);
    }
    &.ccl-button--filter-secondary{
        line-height: rem-calc(47);
        padding: 0 rem-calc(47);
    }
    &.ccl-button--filter-icon{
        line-height: rem-calc(47);
        text-align: left;
        padding: 0 rem-calc(10);
        span{
            float: right;
             line-height: rem-calc(47);
        }
    }
   

}
