//links

.ccl-link{
    
    font-weight: 400;
    text-decoration: none;
    padding-bottom: 1px;
    border-bottom: 1px solid ;    
    -webkit-transition: all .3s ease-in-out;
    transition: all .3s  ease-in-out;
    &:hover{
         border-bottom: 1px solid ;    
    }
}


.ccl-link_hover{    
	text-decoration: none;
    padding-bottom: 1px;
    font-weight: 400;   
    border-bottom: 1px solid ;
    
}